# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# ---------------------------
# Jupyter Notebook
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# Environment Variables
# ---------------------------
.env

# ---------------------------
# MLflow
# ---------------------------
mlruns/
mlflow.db
# ---------------------------
# Logs
# ---------------------------
logs/
*.log

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# VS Code / IDE
# ---------------------------
.vscode/
.idea/

# ---------------------------
# Docker
# ---------------------------
*.pid
*.seed
*.pid.lock

# ---------------------------
# Streamlit
# ---------------------------
.streamlit/

# ---------------------------
# Temporary Files
# ---------------------------
*.tmp
*.temp

# ---------------------------
# Data Files (OPTIONAL)
# ---------------------------
# Uncomment if dataset is large

# data/
# *.csv
# *.xlsx

# Database files
*.db
*.sqlite3
*.sql
